[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
appnope = "==0.1.0"
attrs = "==20.2.0"
backcall = "==0.2.0"
cfgv = "==3.2.0"
click = "==7.1.2"
decorator = "==4.4.2"
distlib = "==0.3.1"
filelock = "==3.0.12"
identify = "==1.5.2"
iniconfig = "==1.0.1"
ipython = "==7.18.1"
itsdangerous = "==2.0.0a1"
jedi = "==0.17.2"
more-itertools = "==8.5.0"
nodeenv = "==1.5.0"
parso = "==0.7.1"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
pluggy = "==0.13.1"
pre-commit = "==2.7.1"
prompt-toolkit = "==3.0.7"
ptyprocess = "==0.6.0"
py = "==1.9.0"
pyparsing = "==3.0.0a2"
pyperclip = "==1.8.0"
pytest = "==6.0.2"
six = "==1.15.0"
toml = "==0.10.1"
traitlets = "==5.0.4"
virtualenv = "==20.0.31"
wcwidth = "==0.2.5"
Flask = "==1.1.2"
ipython_genutils = "==0.2.0"
"Jinja2" = "==3.0.0a1"
MarkupSafe = "==2.0.0a1"
Pygments = "==2.7.0"
PyYAML = "==5.3.1"
Werkzeug = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.8"
